.product-list {
  padding: 20px;
  background-color: #fbf7f6;
  color: #150e0d;
  max-width: 100%; 
  margin: 0 auto;
  box-sizing: border-box;
}

.product-list h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #b36053;
  margin-bottom: 15px;
}

.product-list .filter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.product-list input[type='text'] {
  border: 1px solid #dca9a1;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.product-list select {
  border: 1px solid #dca9a1;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.product-list p {
  font-family: 'Merriweather', serif;
  color: #150e0d;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 20px;
}

.product-list .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .product-list .filter-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .product-list input[type='text'] {
    margin-bottom: 0;
    max-width: 300px;
    flex: 1;
  }

  .product-list select {
    margin-left: 20px;
    flex-shrink: 0; 
  }
}