.shop {
  background-color: #fbf7f6;
  color: hsl(8, 24%, 7%);
  padding: 20px;
  padding-bottom: 80px;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}


.shop h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #b36053;
  margin-bottom: 20px;
  text-align: left;
}

@media (max-width: 600px) {
  .shop h1 {
    text-align: center; 
    margin: 0 auto 20px auto;
    width: 100%;
  }
}
